#wrap {
  /* fixed width, centered in viewport */
  width: 980px;
  left: -380px;
  margin-left: 50%;
  position: relative;
}

#wrap.carousel-video  #showcase{
  width: 80%;
  min-height: 580px !important;
  border-radius: 8px;
  top: -50px;
  visibility: hidden;
}

#showcase {
  width: 80%;
  min-height: 500px;
  border-radius: 8px;
  top: -50px;
  visibility: hidden;
}

#showcase.areas-verdes {
  width: 80%;
  min-height: 400px;
  border-radius: 8px;
  top: -50px;
  visibility: hidden;
}

#showcase.sanitizacion {
  width: 80%;
  min-height: 450px;
  border-radius: 8px;
  top: -50px;
  visibility: hidden;
}


#showcase img {
  cursor: pointer;
  height: 400px !important;
  width: 300px;
}

#showcase.areas-verdes img {
  cursor: pointer;
  height: 280px !important;
  width: 400px;
}

#showcase.sanitizacion img {
  cursor: pointer;
  height: 400px !important;
  width: 350px;
}

#showcase.reciclaje {
  width: 100% !important;
  min-height: 500px;
}

#showcase.reciclaje img {
  cursor: pointer;
  height: 300px !important;
  width: 400px !important;
}

.wrap-reciclaje{
  left: -480px !important;
}

